<!------------------------------------------------Html Button------------->
<div id="button">
  <a
    href="Enviar"
    id="button"
    type="submit"
    onclick="document.getElementById('enviar').submit();">Contactame</a
  >
</div>
<!---------------------------------------------------CSS------------------------------------------->
<style>
  #button {
    display: flex;
    display: inline-flex;
    text-align: center;
    align-items: center;
    font-weight: 700;
    height: 3.6875rem;
    padding: 0.625rem 1.5rem;
    justify-content: center;
    border-radius: 0.3125rem;
    background: #65ba93;
    color: #151d1b;
  }

  #button:hover,
  :focus {
    background: #87d1ae;
    color: #151d1b;
  }
</style>
