---

---

<a href="#"><img src="mapa.svg" alt="" />Argentina-Buenos Aires</a>
<a href="#"><img src="email.svg" alt="" />antonio@gmail.com</a>
<a href="#"><img src="whats.svg" alt="" />00000000000</a>
<a href="#"><img src="linked.svg" alt="" />antonio</a>
<a href="#"><img src="git.svg" alt="" />antonio</a>
<a href="#"><img src="x.svg" alt="" />antonio</a>

<div id="derechos">
  <h6>Copyright © | Powered by</h6>
  <h6><strong>Siriusweb</strong> SINCE 2020</h6>
</div>

<!---------------------------------------------------CSS------------------------------------------------>
<style>
  derechos {
  }

  strong {
    color: #65ba93;
  }

  a {
    display: flex;
    margin: auto;
    gap: 10px;
  }
</style>
